In [100]:
import pandas as pd
import numpy as np

In [101]:
data = pd.read_csv('./fastfood.csv', na_values=['-', ' ', ''])

In [102]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   restaurant   512 non-null    object
 1   item         515 non-null    object
 2   calories     515 non-null    int64
 3   cal_fat      514 non-null    float64
 4   total_fat    515 non-null    int64
 5   sat_fat      515 non-null    float64
 6   trans_fat    515 non-null    float64
 7   cholesterol  515 non-null    int64
 8   sodium       515 non-null    int64
 9   total_carb   515 non-null    int64
 10  fiber        503 non-null    float64
 11  sugar        515 non-null    int64
 12  protein      513 non-null    float64
 13  calcium      305 non-null    float64
dtypes: float64(6), int64(6), object(2)
memory usage: 56.5+ KB

In [103]:
data.head()

,restaurant,item,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,calcium
0,Mcdonalds,Artisan Grilled Chicken Sandwich,380,60.0,7,2.0,0.0,95,1110,44,3.0,11,37.0,20.0
1,Mcdonalds,Single Bacon Smokehouse Burger,840,410.0,45,17.0,1.5,130,1580,62,2.0,18,46.0,20.0
2,Mcdonalds,Double Bacon Smokehouse Burger,1130,600.0,67,27.0,3.0,220,1920,63,3.0,18,70.0,50.0
3,Mcdonalds,Grilled Bacon Smokehouse Chicken Sandwich,750,280.0,31,10.0,0.5,155,1940,62,2.0,18,55.0,20.0
4,Mcdonalds,Crispy Bacon Smokehouse Chicken Sandwich,920,410.0,45,12.0,0.5,120,1980,81,4.0,18,46.0,20.0

In [104]:
data = data.loc[data['total_fat'] <= 125]

In [105]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 513 entries, 0 to 514
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   restaurant   510 non-null    object
 1   item         513 non-null    object
 2   calories     513 non-null    int64
 3   cal_fat      512 non-null    float64
 4   total_fat    513 non-null    int64
 5   sat_fat      513 non-null    float64
 6   trans_fat    513 non-null    float64
 7   cholesterol  513 non-null    int64
 8   sodium       513 non-null    int64
 9   total_carb   513 non-null    int64
 10  fiber        501 non-null    float64
 11  sugar        513 non-null    int64
 12  protein      511 non-null    float64
 13  calcium      304 non-null    float64
dtypes: float64(6), int64(6), object(2)
memory usage: 60.1+ KB

In [106]:
# Mozemo da obrisemo celu kolonu calcium, jer ima previse null vrednosti (preko 20%)
# Mozemo da obrisemo cele kolone restoran i item, jer ne uticu na predikciju proteina u nekom proizvodu
data.drop(columns=['calcium', 'restaurant', 'item'], inplace=True)

In [107]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 513 entries, 0 to 514
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   calories     513 non-null    int64
 1   cal_fat      512 non-null    float64
 2   total_fat    513 non-null    int64
 3   sat_fat      513 non-null    float64
 4   trans_fat    513 non-null    float64
 5   cholesterol  513 non-null    int64
 6   sodium       513 non-null    int64
 7   total_carb   513 non-null    int64
 8   fiber        501 non-null    float64
 9   sugar        513 non-null    int64
 10  protein      511 non-null    float64
dtypes: float64(5), int64(6)
memory usage: 48.1 KB

In [108]:
from scipy.stats import shapiro

nullable_columns = ['cal_fat', 'fiber', 'protein']

for nullable_column in nullable_columns:
    non_nullable_column_data = data[nullable_column].dropna()
    _, p = shapiro(non_nullable_column_data)
    print(f'{p}')
    if (p < 0.05):
        data[nullable_column].fillna(non_nullable_column_data.median(), inplace=True)
    else:
        data[nullable_column].fillna(non_nullable_column_data.mean(), inplace=True)

6.757332391663269e-17
5.690708577506462e-20
3.866950249677197e-18

In [109]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 513 entries, 0 to 514
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   calories     513 non-null    int64
 1   cal_fat      513 non-null    float64
 2   total_fat    513 non-null    int64
 3   sat_fat      513 non-null    float64
 4   trans_fat    513 non-null    float64
 5   cholesterol  513 non-null    int64
 6   sodium       513 non-null    int64
 7   total_carb   513 non-null    int64
 8   fiber        513 non-null    float64
 9   sugar        513 non-null    int64
 10  protein      513 non-null    float64
dtypes: float64(5), int64(6)
memory usage: 48.1 KB